{{if .Booked}}{{.Business}} : votre rendez-vous est confirmé pour {{.When}}. Répondez à ce numéro pour le modifier.{{else}}{{.Business}} : nous avons bien reçu votre message et vous rappellerons sous peu.{{end}}
