{{if .Booked}}{{.Business}}: your appointment is confirmed for {{.When}}. Reply to this number if you need to change it.{{else}}{{.Business}}: we received your message and will call you back shortly.{{end}}
